<!doctype html>
<html ng-app="app.todos">

<head>

    <title>Node/Angular Todos</title>

    <!-- load cdn styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.2.0/css/xeditable.min.css">

    <!-- load app styles -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- load cdn scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.2.0/js/xeditable.min.js"></script>

    <!-- load app -->
    <script src="assets/js/main/app.js"></script>
    <script src="assets/js/main/services/svTodos.js"></script>
    <script src="assets/js/main/controllers/todoController.js"></script>


</head>

<body ng-controller="todoController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Todo Dashboard <span class="label label-info">{{ todos.length }}</span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="todo in todos">
                    <a href ng-click="deleteTodo(todo)"><i class="fa fa-remove"></i></a>
                    <a href ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="fa fa-edit"></i></a>
                    <input type="checkbox" ng-change="updateTodo(todo)" ng-model="todo.isDone"> <span ng-class="{strike: todo.isDone}" editable-text="todo.text" onaftersave="updateTodo(todo)" e-form="textBtnForm">
                        
            {{ todo.text || 'empty' }}

                        </span>
                </div>

                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>

            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="What do you want to do ?" ng-model="formData.text">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()" ng-disabled="!formData.text">Add</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>