html {
    overflow-y: scroll;
}

body {
    margin-top: 30px;
}

#todo-list {
    margin-bottom: 30px;
}

#todo-form {
    margin-bottom: 50px;
}

.strike {
    text-decoration: line-through;
}